<?xml version="1.0"?>
<config>
    <modules>
        <Ecommage_Prescriptioncheckout>
            <version>0.1.1</version>
        </Ecommage_Prescriptioncheckout>
    </modules>
    <global>
        <models>
            <prescriptioncheckout>
                <class>Ecommage_Prescriptioncheckout_Model</class>
                <resourceModel>prescriptioncheckout_mysql4</resourceModel>
            </prescriptioncheckout>
            <prescriptioncheckout_mysql4>
                <class>Ecommage_Prescriptioncheckout_Model_Mysql4</class>
                <entities>
                    <prescription>
                        <table>ecommage_prescription</table>
                    </prescription>
                </entities>
            </prescriptioncheckout_mysql4>
            <sales>
                <rewrite>
                    <quote_address_total_subtotal>Ecommage_Prescriptioncheckout_Model_Sales_Quote_Address_Total_Subtotal</quote_address_total_subtotal>
                </rewrite>
            </sales>
        </models>
        <resources>
            <prescriptioncheckout_setup>
                <setup>
                    <module>Ecommage_Prescriptioncheckout</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </prescriptioncheckout_setup>
            <prescriptioncheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </prescriptioncheckout_write>
            <prescriptioncheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </prescriptioncheckout_read>
        </resources>
        <blocks>
            <prescriptioncheckout>
                <class>Ecommage_Prescriptioncheckout_Block</class>
            </prescriptioncheckout>
        </blocks>
        <helpers>
            <prescriptioncheckout>
                <class>Ecommage_Prescriptioncheckout_Helper</class>
            </prescriptioncheckout>
        </helpers>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <prescriptioncheckout>
                        <type>model</type>
                        <class>prescriptioncheckout/observer</class>
                        <method>saveCustomData</method>
                    </prescriptioncheckout>
                </observers>
            </checkout_type_onepage_save_order>
            <checkout_cart_update_items_after>
                <observers>
                    <prescriptioncheckout>
                        <class>prescriptioncheckout/observer</class>
                        <method>updateItem</method>
                    </prescriptioncheckout>
                </observers>
            </checkout_cart_update_items_after>
            <sales_quote_remove_item>
                <observers>
                    <prescriptioncheckout>
                        <class>prescriptioncheckout/observer</class>
                        <method>removeItem</method>
                    </prescriptioncheckout>
                </observers>
            </sales_quote_remove_item>
        </events>
    </global>
    <frontend>
        <routers>
            <prescriptioncheckout>
                <use>standard</use>
                <args>
                    <module>Ecommage_Prescriptioncheckout</module>
                    <frontName>prescriptioncheckout</frontName>
                </args>
            </prescriptioncheckout>
            <checkout>
                <args>
                    <modules>
                        <Ecommage_Prescriptioncheckout before="Mage_Checkout">Ecommage_Prescriptioncheckout_Checkout</Ecommage_Prescriptioncheckout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <prescriptioncheckout>
                    <file>prescriptioncheckout.xml</file>
                </prescriptioncheckout>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ecommage_prescriptioncheckout before="Mage_Adminhtml">Ecommage_Prescriptioncheckout_Adminhtml</ecommage_prescriptioncheckout>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ecommage_prescriptioncheckout>
                    <file>ecommage_prescriptioncheckout.xml</file>
                </ecommage_prescriptioncheckout>
            </updates>
        </layout>
    </adminhtml>
</config>